/* @font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf);
} */

body{
  min-height: 2000px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: auto;
  max-width: 1440px;
  font-size: 10px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 14rem;
  color: #263238;
  border-bottom: 1px solid #e6ece9;
  box-shadow: 0 4px 18px rgba(201, 9, 9, 0.08);

}

nav .nav-brand {
  font-size: 2rem;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

nav .nav-section {
  display: flex;
  align-items: center;

}

nav .nav-section ul {
  list-style: none;
}

nav .nav-section ul li {
  display: inline-block;
  margin-left: 2rem;
}

nav .nav-section ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

nav .nav-brand:hover,
nav .nav-section ul li a:hover {
  color: #1043a3;
}

/* End Navbar */

/* Header */

header {
  display: flex;
  color: #263238;
}

header .bagian-satu {
  flex-basis: 50%;
  padding: 11%;
}

header .bagian-satu .text-hello {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
}

header .bagian-satu p {
  font-size: 1.5rem;
}

header .bagian-satu .btn-info {
  margin-top: 1.5rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  background-color: #18e946;
  color: #fff;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s;
}

header .bagian-satu .btn-info1 {
  margin-top: 1.5rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  background-color: #e20b81;
  color: #fff;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s;
}

header .bagian-satu .btn-info1 {
  margin-top: 1.5rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  background-color: #0bb7e2;
  color: #fff;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s;
}

header .bagian-satu .btn-info:hover {
  box-shadow: inset 0 0 8px rgba(0, 224, 56, 0.2);
  transform: scale(0.95);
  cursor: pointer;
}

header .bagian-satu .btn-info1:hover {
  box-shadow: inset 0 0 8px rgba(0, 224, 56, 0.2);
  transform: scale(0.95);
  cursor: pointer
}  

header .bagian-dua {
  flex-basis: 50%;
  margin-top: 2%;
  margin-right: 10%;
}

/* End Header */

